* {
    margin: 0px;
    font-family: '游明朝';
}
main{
    font-size: 40px;
    background-color: rgb(243, 236, 217);
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: 'arial black';
    margin-left: 10px;
}
.where{
    text-align: center;
    font-size: 50px;
}
a{
    text-align: center;
    margin-left: 70px;
}
.access{
    margin-left: 40px;
}
img{
    margin-left: 60px;
    width: 50%;
    height: 50%;
    border-radius: 50px;
    border: solid rgb(190, 158, 69) 7px;
}
.outside{
    margin-left: 80px;
    font-size: 30px;
}